page-home {
    .bg-color{
        background-color: #5593ff
    }

    .fb-bg-color{
        background-color: #4267b2;
    }

    .gp-bg-color{
    background-color: #bf360c
    }

    .div-padding{
        padding:60% 15%;
    }

    .row-padding{
        padding: 0% 0% 20% 4%;
    }
}
